@import "./css/vars.css";

HTML, BODY {
    box-sizing: border-box;
    margin: 0;
}

.footer {
    background-color: var(--q-primary);
    bottom: 0;
    color: white;
    left: 0;
    position: fixed;
    text-align: center;
    width: 100%;
}

.footer A {
    color: white;
}

.gallery IMG {
    border: 1px solid #333;
    max-width: 150px;
    max-height: 150px;
    margin: auto;
}

.gallery DIV {
    text-align: center;
}