@import "./css/vars.css";

HTML, BODY {
    box-sizing: border-box;
    margin: 0;
}

.footer {
    background-color: var(--q-primary);
    bottom: 0;
    color: white;
    left: 0;
    position: fixed;
    text-align: center;
    width: 100%;
}

.footer A {
    color: white;
}

/* HOME / GALLERY */
.gallery IMG {
    max-width: 150px;
    max-height: 150px;
    margin: auto;
}

.gallery DIV {
    text-align: center;
}

/* HOME / DISPLAY */
.img-display .header {
    display: grid;
    font-size: larger;
    grid-template-columns: 1fr auto;
}

.img-display IMG {
    max-width: min(100%, 80vw);
    max-height: min(100%, 80vh);
    margin: auto;
}

/* HOME / UPLOAD */

.img-upload .header {
    background-color: var(--q-primary);
    color: var(--color-set-lightest);
    display: grid;
    grid-template-columns: 1fr auto;
}

/* INFO */
.info-container {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    padding-bottom: 5vh;
}